@use '../variables.scss';

.page-header {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  align-items: center;
  gap: 45px;

  .page-title {
    font-weight: 900;

    .colored {
      color: variables.$primary-color;
    }
  }

  .search-bar {
    width: 725px;
  }
}

.pageContent {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 25px;
}
