@use '../variables.scss';

.latest-news-card {
  padding: 16px;

  .title {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 12px;

    img {
      width: 20px;
      height: 20px;
      margin-right: 10px;
    }

    h2 {
      margin: 0;
    }
  }

  .article-time {
    font-weight: variables.$font-weight-bold;
  }
}
