$primary-color: #bb1e1e;
$page-background-color: #f4f5f8;
$page-width: 1120px;

$text-color: black;
$text-color-light: white;
$text-blue: #1e71bb;

$button-color: $primary-color;
$button-text-color: white;
$button-light-color: white;
$button-light-text-color: black;

$card-background-color: white;
$card-radius: 8px;
$card-shedow: 0px 1px 2px -1px #c8cad1;

$font-weight: 400;
$font-weight-semibold: 500;
$font-weight-bold: 600;
