@use '../../variables.scss';

//TODO: Provjriti dizajn - u dizajnu je donji dio slike sakriven ispod teksta kartice, tako bi slike mogle izgledati čudno.
// U dizajnu je predviđeno da naslov stane u max dva reda, a ne mozemo s time racunati, nije dobro iskustvo da se naslov reže
.articles-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 21px;
  grid-auto-flow: dense;
  grid-template-rows: auto auto;

  .card {
    background-color: variables.$card-background-color;
    border-radius: variables.$card-radius;

    &.latest-news {
      grid-column: 3;
      overflow-y: auto;
    }
  }
}
